<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>实验区</h2>
        </header>
        <p>要是无聊了,这里可以让你度过这个时间 <strong>实验区</strong> 以你为小白鼠.</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">简介</a></li>
            </ul>
        </footer>

    </div>

</section>