<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>实验区</h2>
        </header>
        <p><strong>岁月如梭,穿越你我</strong></p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly"><strong>简介</strong></a></li>
            </ul>
        </footer>

    </div>

</section>